<style>
  .navbarMain {
    border-bottom: solid 5px #b08b57;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .25px;
    color: black;
    font-family: 'Poppins', sans-serif;
  }
  .nav-item{
    color: rgb(0, 0, 0);
  }
  .dropdownHover:hover{
    transition: background-color .3s ease,color .3s ease;
    opacity: 1;
  }
  .logo-top{
    font-size: 25px;
    line-height: 20px;
    margin-left: 3px;
    font-family: 'Bree Serif', serif;
    /* color: rgb(218, 170, 72); */
  }
  .btn-outline-gray {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(195, 202, 209);
  }
  .btn-outline-gray:hover{
    color: #fff ;
    background-color: rgb(218, 170, 72);
  }
</style>
<!----------============= Navbar starts ===============-------------->  
<nav class="navbar navbar-light bg-light navbar navbar-expand-lg sticky-top navbarMain">
  <div class="container-fluid">
       <!--===============LOGO SVG IMAGE =================-->
      <a class="d-inline-flex align-items-center link-info text-decoration-none" href="/" aria-label="hairForDays">
        <img src="{{url_for('static', filename='images/hairForDaysLOGO.png')}}" alt="" width="50">
        <!--===============LOGO SVG IMAGE =================-->  
      <a class="navbar-brand text logo-top" href="/" style="color: rgb(218, 170, 72);">
        <span>hair</span><span style="color: black;">ForDay$</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('home')}}"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-car"></i>&nbsp;Wigs</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-crutch"></i>&nbsp;Brands
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for brand in brands %}
              <li><a class="dropdown-item" href="{{url_for('get_brand', id=brand.id)}}">{{brand.name}}</a></li>
              {% endfor %}
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-holly-berry"></i>&nbsp;Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categorys %}
              <li><a class="dropdown-item" href="{{url_for('get_category', id=category.id)}}">{{category.name}}</a></li>
              {% endfor %}
            </ul>
          </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-user-circle"></i>&nbsp;Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if current_user.is_authenticated %}
              <li>
                <h6 class="dropdown-header">Hi {{current_user.fname}}</h6>
              </li>
              <li><a class="dropdown-item dropdownHover" href="{{url_for('userLogOut')}}">
                <i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a></li>
            {% else %}
              <li>
                <h6 class="dropdown-header">Hi 🤗</h6>
              </li>
              <li><a class="dropdown-item dropdownHover" href="{{url_for('userLogin')}}">
                <i class="fas fa-sign-in-alt"></i>&nbsp;LogIn/Register</a></li>
            {% endif %}
          </ul>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('getBag')}}" tabindex="-1"><i class="fas fa-shopping-bag"></i>&nbsp; Bag ({{session['ShoppingBag'] | length}})</a>
          </li>

        </ul>
        <div class="d-flex">
          <form class="d-flex" action="{{url_for('searchresult')}}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-gray" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <!---------------------============== Navbar ends ===============--------->
