{% extends 'base2.html'%}
{% block body %}
{% include 'Navbar.html' %}
<style>
    * {
        outline: none;
    }

    .cart-container {
        padding: 50px 5%;
    }

    .cart-heading {
        display: flex;
    }

    .cart-items-section {
        display: flex;
        column-gap: 5%;
        margin-top: 50px;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .cart-items {
        flex: 1;
        width: 100%;
        margin-bottom: 20px;
    }

    .cart-items .header,
    .cart-items .item-row {
        display: flex;
        border-bottom: 1px solid #ddd;
    }

    .item-row {
        display: flex;
    }

    .item-row .name {
        color: black;
        font-size: 15px;
        margin: 0;
    }

    .item-row .name:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .cell {
        padding: 10px 0;
        font-size: 12px;
        font-weight: bold;
        flex: 0.3;
        text-align: right;
    }

    #qty-bottom {
        display: none;
    }

    .cell.stretch {
        flex: 1;
        text-align: left;
    }

    .discount-box {
        width: 100%;
        max-width: 400px;
    }

    .discount-box>* {
        background-color: #eee;
    }

    .discount-box button:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }

    .checkout-btn {
        border: none;
        background-color: #000;
        font-size: 14px;
        text-transform: uppercase;
        padding: 12px 0;
    }
    .checkout-btn:hover{
        color: #000;
        background-color: #fff;
    }

    .qty-selector {
        border: 1px solid #555;
        margin-left: auto;
        display: flex;
        width: initial;
        column-gap: 5px;
    }

    .qty-selector div {
        padding: 8px 12px;
        font-size: 15px;
        cursor: pointer;
    }

    .code-form {
        display: flex;
        padding: 20px;
        column-gap: 10px;
        border-radius: 0;
    }

    .code-form input {
        flex: 1;
        padding: 10px;
        border: 1px solid #777;
    }

    .code-form button {
        border: none;
        background-color: #000;
        color: #fff;
        flex: 0.4;
        font-size: 13px;
        text-transform: uppercase;
    }

    .edit-button {
        margin-top: 5px;
        border: none;
        background-color: #fff;
        text-decoration: underline;
    }

    #removeButton:hover {
        color: #777;
    }

    #m-view {
        display: none;
        margin-top: -30px;
    }


    @media (max-width: 1143px) {
        .cart-items-section {
            flex-direction: column;
        }

        .discount-box {
            max-width: 100%;
            display: flex;
            column-gap: 20px;
        }

        .discount-box>* {
            flex: 1;
        }
    }

    @media (max-width:768px) {
        .cart-heading h2 {
            display: none;
        }
    }

    @media (max-width: 650px) {
        .discount-box {
            max-width: 100%;
            flex-direction: column;
        }

        .discount-box>* {
            flex: 1;
        }
    }

    @media (max-width: 731px) {
        #qty {
            display: none;
        }

        #qty-bottom {
            display: flex;
        }

        #removeButton1 {
            display: none !important;
        }

        #m-view {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: .05px;
        }
    }
</style>

<div class="cart-container">
    <div
        style="text-align: center; background-color: rgb(243, 248, 242);text-transform: uppercase; font-size: smaller;color: rgb(38, 114, 33);">
        {% include '_messages.html' %}
    </div>
    <div class="cart-heading">
        <span style="flex: 1">
            <svg width="5" height="7" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 6L1 3.5 4 1" />
            </svg>
            <a href="/" style="color: #000; font-weight: 500">
                Continue Shopping</a>
        </span>
        <h2 style="color: black;">SHOPPING BAG</h2>
        <div style="flex: 1"></div>
    </div>
    <div class="cart-items-section">
        <div class="cart-items">
            <div class="header">
                <div class="cell stretch"><span>ITEM</span></div>
                <div class="cell" id="qty"><span>QUANTITY</span></div>
                <div class="cell"><span>PRICE</span></div>
            </div>
            <div class="content">
                {% for key, item in session['ShoppingBag'].items() %}
                {% set discount = "%0.2f" |format((item.discount/100) * item.price|float) %}
                <div style="border-bottom: 1px solid #eee;">
                    <div style="display: flex;">
                        <div class="cell stretch" style="display: flex; column-gap: 20px; font-weight: 400;">
                            <img width="120" style="object-fit: cover; border:1px solid rgb(235, 230, 230);"
                                height="150" src="{{url_for('static', filename='images/'+item.image)}}"
                                alt="{{item.name}}" />
                            <div>
                                <p class="name">{{item.name}}</p>

                                <form action="{{url_for('updatebag', code=key)}}" method="post">

                                    {% set colors = item.colors.split(',') %}
                                    <div style="margin-bottom: 5px;">
                                        <label for="colors">Colors:</label>
                                        <select name="color" id="color">
                                            <option value="{{item.color}}" style="display: none;">{{item.color |
                                                capitalize}}</option>
                                            {% for color in colors %}
                                            {% set col = color.split(':') %}
                                            <option value="{{col[0]}}">{{col[0] | capitalize}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    

                                    {% set sizes = item.sizes.split(',') %}
                                    <div style="margin-bottom: 5px;">
                                        <label for="sizes" style="margin-right: 6px;">Sizes:</label>
                                        <select name="size" id="size">
                                            <option value="{{item.size}}" style="display: none;">{{item.size |
                                                capitalize}}</option>
                                            {% for size in sizes %}
                                            {% set siz = size.split(':') %}
                                            <option value="{{siz[0]}}">{{siz[0] | capitalize}}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    
                                    
                                            
                                            <button type="submit" class="edit-button"><i class="fas fa-pencil-alt"
                                                style="font-size: 10px;color:#777;padding-right: 3px;text-align: left;"></i>Edit
                                            </button>
                                        </div>
                                    </div>

                                    
                                    
                                    
                                    <div style="margin-left: auto;">
                                        <div>
                                            <div class="cell" id="qty">
                                                <div style="padding: 8px 0;">
                                                    <input class="qty-selector"
                                                    value="{{item.quantity}}" name="quantity" type="number" min="1" max="10"
                                                    style="width: 80px; padding: 5px 0px; text-align: center;color: #000;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                        <div class="cell" style="display: flex; flex-direction: column;">
                                            <div style="display: flex; flex-direction: column; flex: 1;">
                                                {% set total = item.quantity|int * item.price|float %}
                                                {% if item.discount > 0 %}
                                                <p style="text-decoration: line-through; margin: 0;">${{(item.quantity|int *
                                                    item.price|float) | numberFormat}}</p>
                                                    {%else%}
                                                    <p></p>
                                                    {%endif%}
                                                    {% if item.discount > 0 %}
                                                    <p style="font-size: 16px; font-weight: 500; color: #a00; margin-bottom: auto;">
                                                        ${{"%0.2f"|format((total|float) -
                                                        discount|float)|numberFormatFloat}}</p>
                                                        {%else%}
                                                        <p style="font-size: 16px; font-weight: 500; color: #a00; margin-bottom: auto;">
                                                            ${{item.price | numberFormat}}</p>
                                                            {% endif %}
                                                            
                                                            <div style="display: flex; flex-direction: column; align-items: flex-end;" >
                                                                <span style="margin-bottom: -15px;padding: 0px;font-size: 10px;">Qty</span>
                                                                <div class="cell">
                                                                    <div>
                                                                        <div id="qty-bottom">
                                                                            <div style="padding: 8px 0;">
                                                                                <input class="qty-selector" style="width: 80px; padding: 5px 0px; text-align: center;color: #000;"
                                                                                    name="quantity" type="number" min="1" max="10" value="{{item.quantity}}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                    </form>
                                        </div>
                        
                                    <div class="clear-bag"
                                        style="display: flex; align-items: center; justify-content: flex-end; column-gap: 5px;"
                                        id="removeButton1">
                                        <a href="{{url_for('removeitem', id=key)}}" id="removeButton"
                                            style="text-align: right; color: rgb(63, 62, 62); font-size: 10px; font-weight: 400;">Remove</a>
                                        <span
                                            style="padding: 0px 15px; font-size: 10px; color: rgb(191, 191, 191);">|</span>
                                        <a href="{{url_for('emptyBag', id=key)}}" id="removeButton"
                                            style="text-align: right; color: rgb(63, 62, 62); font-size: 10px;font-weight: 400;">Clear
                                            Bag</a>
                                    </div>
                                </div>
                                </div>
                                <div id="m-view">
                                    <div style="display: flex; align-items: center; justify-content: flex-end; column-gap: 5px;"
                                        id="removeButton-m">
                                        <a href="{{url_for('removeitem', id=key)}}" id="removeButton"
                                            style="text-align: right; color: rgb(63, 62, 62); font-size: 10px; font-weight: 400;">Remove</a>
                                        <span style="padding: 0px 15px; font-size: 10px; color: rgb(191, 191, 191);">|</span>
                                        <a href="{{url_for('emptyBag', id=key)}}" id="removeButton"
                                            style="text-align: right; color: rgb(63, 62, 62); font-size: 10px;font-weight: 400;">Clear
                                            Bag</a>
                                    </div>
                                    
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="discount-box">
                        <div style="margin-bottom: 2px;">
                            <div class="code-form">
                                <input placeholder="Discount code" style="font-size: 12px;" type="text">
                                <button>Apply</button>
                            </div>
                        </div>
                        <div class="bottom-part">
                            <div style="color: rgb(124, 42, 42); display: flex; align-items: center; justify-content: space-between; padding-inline: 20px; padding-top: 10px;"
                                class="subtotal">
                                <span>Tax</span>
                                <h6>${{tax|numberFormatFloat}}</h6>
                            </div>
                            <div style="color: #000; display: flex; align-items: center; justify-content: space-between; padding-inline: 20px;"
                                class="subtotal">
                                <span><b>Subtotal</b> ({{session['ShoppingBag'] | length}} items)</span>
                                <h5>${{grandTotal|numberFormat}}</h5>
                            </div>
                            <div style="padding: 20px;">
                                <a style="text-decoration: none; color: #fff;" href="{{url_for('get_order')}}">
                                    <button class="checkout-btn" style="color: #fff; width: 100%;">
                                        Checkout 
                                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}